<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8" />
        <title>Expenditure</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" />
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    </head>

    <body>
        <h1>About Flask</h1>
        <p>Flask is a micro web framework written in Python.</p>
        <hr />
        <hr />
        <br /><br /><br /><br />

        <form action="/" method="POST">
            <label>From Date:</label>
            <input type="date" name="from_date" />
            <label>To Date:</label>
            <input type="date" name="to_date" />
            <input type="submit" value="Submit" />
        </form>

        <div class="container parent-container">
            <div class="row">
                <div class="col-6 chart" id="_scatter_bar_daily_sum_and_average">
                    <script>
                        var graphs = {{ _scatter_bar_daily_sum_and_average | safe}};
                        Plotly.plot('_scatter_bar_daily_sum_and_average', graphs, {});
                    </script>
                </div>

                <div class="col-6 chart" id="_pie_days_expenditure_pie_chart">
                    <script>
                        var graphs = {{ _pie_days_expenditure_pie_chart | safe}};
                        Plotly.plot('_pie_days_expenditure_pie_chart', graphs, {});
                    </script>
                </div>

                <div class="col-6 chart" id="_bar_day_based_categorical_expenditure">
                    <script>
                        var graphs = {{ _bar_day_based_categorical_expenditure | safe}};
                        Plotly.plot('_bar_day_based_categorical_expenditure', graphs, {});
                    </script>
                </div>

                <div class="col-6 chart" id="_bar_categorical_sum_expenditure">
                    <script>
                        var graphs = {{ _bar_categorical_sum_expenditure | safe}};
                        Plotly.plot('_bar_categorical_sum_expenditure', graphs, {});
                    </script>
                </div>

                <div class="col-6 chart" id="_pie_categorical_sum_expenditure">
                    <script>
                        var graphs = {{ _pie_categorical_sum_expenditure | safe}};
                        Plotly.plot('_pie_categorical_sum_expenditure', graphs, {});
                    </script>
                </div>
            </div>
        </div>
    </body>
</html>
